<ul class="nav">
  <li><a href="<%= about_url %>">About</a></li>
  <li><a href="<%= contact_path %>">Contact</a></li>
  <li><a href="<%= faq_path %>">FAQ</a></li>
  <li><a href="<%= home_path %>">Home</a></li>
  <li><a href="<%= math_path %>">Math</a></li>
</ul>
